html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*////////////////HEADER///////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.header {
	max-width: 100%;
	display: block; 
}

#logo img {
	float:left;
	border:1px inset;
	max-width: 99px;
}

#social {
	float:right;
	margin:7px;
}

#pesquisa {
	float:right;
	position: absolute;
	right: 0;
}

.header #caixa_pesquisa {
	float:right;
	margin: 70px 5px 0 0;
}

.top {
	width: 100%;
	height: 100px;
	background-color: #00548e;
}

.down {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	background-color: #999999;
}

#navegacao {
	float:left;
}

#registro {
	float:right;
}

#Navegacao > form > button:nth-child(5) {
	float:right;

}

#Navegacao > form > button:nth-child(6) {
	float:right;
}

#Navegacao > form > button {
	height:30px;
	width: 135px;
	background-color: #00548e;
	color: white;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*///////////////CONTEUDO///////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.conteudo {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
	text-align: -webkit-center;
}


.top_block {
	max-width: 960px;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*///////////////NOTICIAS///////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.noticias {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	background-color: #00548e;
}

#slide {
	width: 640px;
	height: 300px;
	float:left;
	background-color: #00548e;
}



/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*///////////////CALDAS///////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.caldas {
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
	background-color: #0070BD;
}

.portugal {
	width: 100%;
	height: 330px;
	margin-bottom: 20px;
	background-color: #0086E2;
}

.mundo {
	width: 100%;
	height: 430px;
	margin-bottom: 20px;
	background-color: #0097FF;
}

.rodape {
	width: 100%;
	height: 100px;
	background-color: #00548e;
}

/*//////////////////////////////////////*/
/*//////////////////////////////////////*/
/*///////////////RODAPE///////////////*/
/*//////////////////////////////////////*/
/*//////////////////////////////////////*/

.slide-container .slide-caption {
    background-color: #000;
    bottom: 0;
    color: #fff;
    display: block;
    left: 0;
    padding: 6px 12px;
    position: absolute;
    text-align: center;
    right: 0;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}